
    <div class="az-footer ht-40">
      <div class="container ht-100p pd-t-0-f">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
            &copy; <a target="_blank" href="https://bit.ly/2UTgih5">BootstrapDash.com</a> 
            - coded by <a target="_blank" href="https://appseed.us">AppSeed</a>
        </span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
            <a href="https://appseed.us/product/azia-dashboard/flask/" target="_blank">Flask Azia Dashboard</a>
        </span>
      </div><!-- container -->
    </div><!-- az-footer -->
