
        <div class="az-content-left az-content-left-components">
          <div class="component-item">
            <label>UI Elements</label>
            <nav class="nav flex-column">
              <a href="elem-buttons.html"  class="nav-link {% if 'elem-butt'  in segment %} active {% endif %}">Buttons</a>
              <a href="elem-dropdown.html" class="nav-link {% if 'elem-drop'  in segment %} active {% endif %}">Dropdown</a>
              <a href="elem-icons.html"    class="nav-link {% if 'elem-icons' in segment %} active {% endif %}">Icons</a>
            </nav>
            <label>Forms</label>
            <nav class="nav flex-column">
              <a href="form-elements.html" class="nav-link {% if 'form-elements' in segment %} active {% endif %}">Form Elements</a>
            </nav>
            <label>Charts</label>
            <nav class="nav flex-column">
              <a href="chart-chartjs.html" class="nav-link {% if 'chartjs' in segment %} active {% endif %}">ChartJS</a>
            </nav>

            <label>Tables</label>
            <nav class="nav flex-column">
              <a href="table-basic.html" class="nav-link {% if 'table-basic' in segment %} active {% endif %}">Basic Tables</a>
            </nav>
          </div><!-- component-item -->

        </div><!-- az-content-left -->
