{% extends "layouts/base-fullscreen.html" %}

{% block title %} Error 403 {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  
    <div class="az-signin-wrapper">
      <div class="az-card-signin">
        <div class="az-signin-body">
          <h1 class="az-logo">az<span>i</span>a</h1>
          <br />
          <h2>Error 403</h2>
          <h4>Access Denied</h4>
          <br />
          <p>
            Please contact support or <a href="/page-signin.html">Authenticate</a>.
          </p>
        </div><!-- az-signin-header -->
      </div><!-- az-card-signin -->
    </div><!-- az-signin-wrapper -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
